/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 body {
   line-height: 1;
 }
 ol, ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

/*CSS RESET ABOVE-- CODE STARTS BELOW*/

html {
  font-size: 4em;
}

.Layout_h1{
  font-family: "Bookman Old Style",	/* Windows, MacOS */ "Serifa BT",	/* Windows XP. Not the same font, but the overall look is close enough. */ "URW Bookman L",	/* Unix+X+FontConfig */ "itc bookman",	/* Unix+X */ /* Fallback options */ times,	/* Unix+X, MacOS */ serif;
  background-color: black;
  color: white;
  padding: 30px 0px 30px 30px
}

.layout_sign_in a:link {
  position: absolute;
  text-decoration: none;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  top: 30px;
  right: 150px;
  font-size: 1.5em;
  border: 1px blue solid ;
  padding: 20px;
  color: #3e9fe5;
  border-radius: 15px;
  background: white;
  opacity: .8;
  font-size: .3em;
  font-family: arial;
  text-align: left;
  text-decoration: none;
  z-index: 100;
}

.layout_layout a:link {
  position: absolute;
  text-decoration: none;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  top: 30px;
  right: 40px;
  font-size: 1.5em;
  border: 1px blue solid ;
  padding: 20px;
  color: #3e9fe5;
  border-radius: 15px;
  background: white;
  opacity: .8;
  font-size: .3em;
  font-family: arial;
  text-align: left;
  text-decoration: none;
  z-index: 100;
}

.layout_types{
  font-family: arial;
  font-size: .9em;
  text-align: right;
  padding: 10px 50px 20px 0px;
  text-decoration: none;

}
