/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

 /*CSS RESET ABOVE-- CODE STARTS BELOW*/
 html {
   font-size: 1em;
   font-family: arial;
 }

 img.img_header{
  width: 100vw;
  position: absolute;
  z-index: -100;
}

img.img_logo{
 width: 50%;
 position: absolute;
 top: 180px;
 left: 60px;
}

img.img_tile{
 width: 100vw;
 height: 40px;
 position: absolute;
 opacity: .6;
 top: 90px;
}

div#rest_button a:link{
  position: absolute;
  display: block;
  text-decoration: none;
  top: 210px;
  border: 1px blue solid;
  padding: 20px;
  color: #3e9fe5;
  border-radius: 15px;
  background: white;
  opacity: .8;
  font-size: 120%;
  font-family: arial;
  right: 300px;
  text-align: center;
}

div#cuis_button a:link{
  position: absolute;
  display: block;
  text-decoration: none;
  top: 210px;
  border: 1px blue solid;
  padding: 20px;
  color: #3e9fe5;
  border-radius: 15px;
  background: white;
  opacity: .8;
  font-size: 120%;
  font-family: arial;
  right: 100px;
}

div#sign_up_button a:link{
  position: absolute;
  display: block;
  text-decoration: none;
  border: 1px blue solid;
  padding: 20px;
  border-radius: 15px;
  opacity: .8;
  font-family: arial;
  right: 250px;
  top: 80px;
  background: none;
  border: none;
  font-size: 1.4em;
  color: black;
}

div#log_in_button a:link{
  position: absolute;
  display: block;
  text-decoration: none;
  border: 1px blue solid;
  padding: 20px;
  border-radius: 15px;
  opacity: .8;
  font-family: arial;
  right: 120px;
  top: 80px;
  background: none;
  border: none;
  font-size: 1.4em;
  color: black;
}

div#log_out a:link{
  position: absolute;
  display: block;
  text-decoration: none;
  border: 1px blue solid;
  padding: 20px;
  border-radius: 15px;
  opacity: .8;
  font-family: arial;
  right: 80px;
  top: 85px;
  background: none;
  border: none;
  font-size: 1em;
  color: black;
}

div#hey_user a:link{
  position: absolute;
  display: block;
  text-decoration: none;
  border: 1px blue solid;
  padding: 20px;
  border-radius: 15px;
  opacity: .8;
  font-family: arial;
  right: 230px;
  top: 77px;
  background: none;
  border: none;
  font-size: 1.8em;
  color: black;
  font-style: italic;
}

div#hey_user a:link {
  text-decoration: none;
  color: black;
}
div#hey_user a:visited {
  text-decoration: none;
  color: black;
}

div#log_out a:link {
  text-decoration: none;
  font-style: normal;
  color: black;
}
div#log_out a:visited {
  text-decoration: none;
  font-style: normal;
  color: black;
}

div#rest_button a:link {
  text-decoration: none;
  font-style: normal;
  color: black;
}
div#rest_button a:visited {
  text-decoration: none;
  font-style: normal;
  color: black;
}

div#cuis_button a:link {
  text-decoration: none;
  font-style: normal;
  color: black;
}
div#cuis_button a:visited {
  text-decoration: none;
  font-style: normal;
  color: black;
}


nav {
  margin-top: 350px;
  width: 100vw;
}

h1{
  opacity: 0;
}


.rest_name {
  font-style: italic;
  font-size: 1.3em;
  color: #00AFF0;
  padding: 10px 0 10px 0;
}

.rest_description {

}

.each_rest {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  text-align: left;
  margin-left: 100px;
}

#make_a_button a:link{
  left: 50px;
  /*position: fixed;*/
  position: relative;
  display: block;
  text-decoration: none;
  text-align: center;
  top: 50px;
  border: 3px white solid;
  padding: 20px;
  color: white;
  border-radius: 15px;
  background: white;
  opacity: .6;
  font-size: 1.3em;
  font-family: arial;
  height: 20px;
  width: 200px;
  margin-bottom: 50px;
}

.form {
  text-align: center;
}

input{
  width: 300px;
  height: 30px;
  text-align: center;
  margin: 10px;
  border-radius: 9px;
}

input[type="submit"]{
  font-size: medium;
  width: 200px;
  height: 50px;
  margin: 20px;
  background: white;
}

div a:link {
  text-decoration: none;
  color: blue;
  font-style: italic;
}

/* visited link */
div a:visited {
  text-decoration: none;
  color: blue;

}

/* mouse over link */
div a:hover {
  text-decoration: none;
  color: #0047E5;
  background-color:
  font-size: 1.5em;
}

/* selected link */
div a:active {
  text-decoration: none;
}

div.content {
  margin: 10px 0 10px 100px;
}
