// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.show_img > img{
  position: relative;
  display: inline-block;
  margin-left: 15%;
  width: 475px;
  height: 300px;
  top: -60%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.show_img{
  width: 500px;
  display: inline;
}

#rest_show_top{
  margin-top: 70px;
}


.show_con{
  position: absolute;
  display: inline;
  font-size: 1em;
  color: #00AFF0;
  height: 30px;
  width: 400px;
  font-style: normal;
  padding-top: 20px;
  margin-left: 3%;
}

.show_name{
  font-weight: bold;
  font-size: 2em;
  margin-top: 80px;
}

.show_desc{
  font-size: 1.8em;
  color: black;
  height: 30px;
  width: 400px;
  font-style: italic;
  top: 50px;
}

.show_a{
  font-size: 1.4em;
  color: grey;
  height: 10px;
  width: 400px;
}

#make_a_button_resta a:link{
  left: 5%;
  color: blue;
  /*position: fixed;*/
  position: relative;
  display: inline;
  text-decoration: none;
  text-align: center;
  top: 50px;
  border: 3px blue solid;
  padding: 20px;
  border-radius: 15px;
  background: white;
  opacity: .6;
  font-size: 1.3em;
  font-family: arial;
  height: 20px;
  width: 200px;
}

.index_img {
  width: 375px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#show_contain {
  box-sizing: border-box;
  position: relative;
  display: inline;
  width: 100%;

}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

img.img_logo_show_rest{
 width: 650px;
 position: absolute;
 top: 40px;
 left: 7%;
}

img.img_tile_show_rest{
  width: 100%;
 height: 160px;
 position: absolute;
 opacity: .6;
 top: 0px;
 }
//  -webkit-transition: opacity 2s, height 4s;
//  transition: width 2s, height 4s;
// }
//
// img.img_tile_show_rest{
//   animation: 1s ease-out 0s 1 slideInFromLeft;
// }
