// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.show_img > img{
  position: absolute;
  display: inline;
  margin-left: 30px;
  max-width: 400px;
  max-height: 300px;
}

.show_name{
  font-size: 1.4em;
  color: #00AFF0;
  height: 30px;
  width: 200px;
  margin-left: 600px;
  margin-top: 10px;
  font-style: italic;
  padding-top: 20px;
}

.show_desc{
  font-size: 1.3em;
  color: black;
  height: 30px;
  width: 200px;
  margin-left: 600px;
}

.show_a{
  font-size: 1.1em;
  color: grey;
  height: 10px;
  width: 200px;
  margin-left: 600px;
}

#make_a_button_resta a:link{
  left: 50px;
  color: blue;
  /*position: fixed;*/
  position: relative;
  display: block;
  text-decoration: none;
  text-align: center;
  top: 100px;
  border: 3px blue solid;
  padding: 20px;
  border-radius: 15px;
  background: white;
  opacity: .6;
  font-size: 1.3em;
  font-family: arial;
  height: 20px;
  width: 200px;
  margin-bottom: 50px;
  margin-left: 80px;
}

.index_img {
  width: 375px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#res_show_top {
  margin-top: 5%;
}
