<br>

<%@restaurants.each do |restaurant| %>
  <div class="each_restaurant">
    <p><img src="<%= restaurant.photo%>", class="img_index"></p>
    <p class="name_index"><%= restaurant.name%></p>
    <p class="name_descri"><%= restaurant.description%></p>
  </div>
<%end%>

<br>
