<%=image_tag("bgtile.png", alt: "bgtile.png", class: "img_tile")%>
<%=image_tag("SYlogo.png", alt: "SYlogo.png", class: "img_logo")%>

<div id="res_show_top">
  <div class="form">
    <%= render 'form' %>
  </div>
</div>
