/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

 /*CSS RESET ABOVE-- CODE STARTS BELOW*/
 html {
   font-size: 1em;
 }

 img.img_header{
  width: 100vw;
  position: absolute;
  z-index: -100;
}

img.img_logo{
 width: 53%;
 position: absolute;
 top: 230px;
 left: 60px;
}

img.img_tile{
 width: 100vw;
 height: 55px;
 position: absolute;
 opacity: .6;
 top: 130px;
}


div a:link {
  position: absolute;
  display: block;
  text-decoration: none;
  top: 240px;
  border: 1px blue solid;
  padding: 20px;
  color: #3e9fe5;
  border-radius: 15px;
  background: white;
  opacity: .8;
  font-size: 1.3em;
  font-family: arial;
}

div#rest_button a:link{
  right: 300px;
}

div#cuis_button a:link{
  right: 75px;
}

div#sign_up_button a:link{
  right: 250px;
  top: 125px;
  background: none;
  border: none;
  font-size: 1.4em;
  color: black;
}

div#log_in_button a:link{
  right: 120px;
  top: 125px;
  background: none;
  border: none;
  font-size: 1.4em;
  color: black;
}

nav {
  margin-top: 450px;
  width: 100vw;
}

h1{
  opacity: 0;
}
